{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
            <div class="content container-fluid">
               <div class="page-header">
                  <div class="row">
                     <div class="col-sm-12">
                        <h3 class="page-title">Welcome {{request.user.name}}!!</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item active">{{request.user.department_id.dep_name}}</li>
                        </ul>
                        <div class="top-nav-search">
                           <form action="{% url 'search-staff-list' %}">
                              <input type="text" class="form-control"  name='search' value="" placeholder="Search here">
                              <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                           </form>
                        </div>
                        <div class="form-group">
                            <a href="{% url 'staff-create' %}"> <button href="" style="margin-left:1000px;" class="btn btn-outline-info" type="submit"><i class="fa fa-plus" style="font-size:16px;color:green"></i>

                              Create Staff
                            </button></a>
                         </div>
                     </div>
                  </div>
               </div>
                
               
               
            <div class="row">
                  <div class="col-sm-12">
                     <div class="card card-table">
                        <div class="card-body">
                           <div class="table-responsive">
                              <table class="table table-hover table-center mb-0 datatable">
                                 <thead>
                                    <tr>
                                       <th>Sr.No</th>
                                       <th>Name</th>
                                       <th>Username</th>
                                       <th>Email</th>
                                       <th>Mobile Number</th>
                                       <th class="text-right">Action</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                 {% for staff in page_obj %}
                                    <tr>
                                       <td>{{forloop.counter}}</td>
                                       <td>{{staff.name}}</td>
                                       <td>{{staff.username}}</td>
                                       <td>{{staff.email}}</td>
                                       <td>{{staff.contact_number}}</td>
                                    
                                       <td class="text-right">
                                          <div class="actions">
                                             <a href="{% url 'staff-detail' staff.id  %}" class="btn btn-sm bg-success-light mr-2">
                                             <i class="fa fa-eye"></i>
                                             </a>
                                             <a href="{% url 'staff-delete' staff.id  %}" class="btn btn-sm bg-danger-light">
                                             <i class="fas fa-trash"></i>
                                             </a>
                                          </div>
                                       </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
                  <nav style="margin-left:15px" aria-label="Page navigation example">
                     <ul class="pagination justify-content-center">
             
                         <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                             <a  style="color:black" class="page-link" href="?page=1" tabindex="-1">FIRST</a>
                         </li>
                         <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                             <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %} " tabindex="-1" style="color:black">Previous</a>
                         </li>
             
                         {% if page_obj.number|add:'-4' > 1 %}
                             <li  class="page-item disabled"><a class="page-link" href="?page={{ page_obj.number|add:'-5' }}" style="color:black">&hellip;</a></li>
                         {% endif %}
             
                         {% for i in page_obj.paginator.page_range %}
                             {% if page_obj.number == i %}
                                 <li class="active page-item disabled"><a class="page-link" href="?page={{ i }}" style="color:black">{{ i }}</a></li>
                             {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                                 <li class="page-item"><a class="page-link" href="?page={{ i }}" style="color:black">{{ i }}</a></li>
                             {% endif %}
                         {% endfor %}
             
                         {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                             <li class="page-item disabled"><a class="page-link" href="?page={{ page_obj.number|add:'5' }}" style="color:black">&hellip;</a></li>
                         {% endif %}
             
                         <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                             <a class="page-link" href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }} {% endif %}"style="color:black">Next</a>
                         </li>
                         <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                             <a class="page-link" href="{% if page_obj.has_next %} ?page={{ page_obj.paginator.num_pages }}  {% endif %}" style="color:black">LAST</a>
                         </li>
                     </ul>
                 </nav>   
                          

                        
 {% endblock content %}