{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>LMS Portal Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav style="height:80px" class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
        <li style="font-size:30px"class="active"><a href="{% url 'home' %}">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li style="font-size:30px"><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div class="container" style="width:550px;margin-top:150px">
  <form   method="post" novalidate>
      {% csrf_token %}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">LOGIN</legend>
      </fieldset>
          {{form|crispy}}
      <div class="form-group">
          <button href="" class="btn btn-outline-info" type="submit">
             Submit
          </button>
      </div>
  </form>
</div>
</body>

</html>